/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    text-align: center;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: blue;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: red;
    display: inline;
    text-decoration: underline;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px;
    border-radius: 8px;
}
#about{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}
#skills{
    background-color: bisque;
    color: rebeccapurple;
}
#projects{
    background-color: beige;
}
#projects h2{
    text-shadow: hotpink 2px 2px 3px;
}
#projects a{
    color: chartreuse;
}
.about-content {
    display: flex;
   text-align: center;
}
.about-content img {
    border-radius: 50%;
    margin-right: 20px; 
    width: 150px;
    height: 150px;
}
.project{
    cursor: wait;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}